_site
.DS_Store
.jekyll
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
.directory

# Intellij
**/.idea/copyright
**/.idea/libraries
**/.idea/scopes
**/.idea/.name
**/.idea/*.xml
*.iml
*.ipr
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
