---
layout: default
---

Draft Paper to be submitted to [4th International Conference on Interactive Digital Media (ICIDM) 2015](http://icidm2015.seaconf.org/): [**Implementation of Graph Database for OpenCog Artificial General Intelligence Framework using Neo4j**](opencog-neo4j-icidm2015.html)

{% capture my_include %}{% include home_notice.md %}{% endcapture %}
{{ my_include | markdownify }}

<hr />

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content | truncatewords:40}}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
