<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.opencog" level="DEBUG"/>
    <logger name="org.springframework.boot.actuate" level="DEBUG"/>
    <logger name="org.crsh" level="DEBUG"/>
    <logger name="org.apacheextras" level="DEBUG"/>
    <logger name="org.apache.camel.component.zeromq" level="DEBUG"/>
    <logger name="org.springframework.transaction" level="DEBUG"/>
</configuration>
